.flex-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

#flex-row-item1{
  flex:1;
  position:relative;
  /*align-self: flex-start;*/
}

#flex-row-item2{
  flex:3;
  position:relative;
}
