<!DOCTYPE html>
<html lang="en">
<head>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <link rel="stylesheet" href="login.css" type="text/css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  <a  href="#" data-toggle="modal" data-target="#login-modal">Login</a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
			   <div class="loginmodal-container">
					      <h1>Login to Your Account</h1><br>
				        <form>
					             <input type="text" name="user" placeholder="Username">
					             <input type="password" name="pass" placeholder="Password">
					             <input type="submit" name="login" class="login loginmodal-submit" value="Login">
				        </form>
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
			  </div>
	  </div>
</div>
</body>
