<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="{{url_for('static',filename='css/bootstrap-responsive.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{title}} - TaskManager</title>
    {% else %}
    <title>Welcome to TaskManager</title>
    {% endif %}
  </head>
  <body>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand">TaskManager</a>
     <ul class="nav">
       <li class="divider-vertical"></li>
        <li >
          <a href="{{url_for('index')}}">Home</a>
        </li>
        <li class="divider-vertical"></li>

          {% if current_user.is_anonymous %}
        <li>
          <a href="{{url_for('login')}}">Login</a>
        </li>
          {% else %}
        <li>
          <a href="{{ url_for('user', username=current_user.username) }}">My Profile</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="{{ url_for('logout')}}">Logout</a>
        </li>
          {% endif %}
     </ul>
  </div>
  <div class="content">
    <br>
    {% with messages = get_flashed_messages() %}

      {% if messages %}
        <ul>
        {% for message in messages %}
        <div class="alert alert-info" id="alertbar" role="alert">{{ message }}</div>      
        {% endfor %}
        </ul>
      {% endif %}

    {% endwith %}

    {% block content %}{% endblock %}
  </div>
  </body>
</html>
