<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/logo-nav.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{title}} - TaskManager</title>
    {% else %}
    <title>Welcome to TaskManager</title>
    {% endif %}
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="http://placehold.it/300x60?text=Logo" width="150" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
</nav>

  <!--div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand">TaskManager</a>
     <ul class="nav">
       <li class="divider-vertical"></li>
        <li >
          <a href="{{url_for('index')}}">Home</a>
        </li>
        <li class="divider-vertical"></li>

          {% if current_user.is_anonymous %}
        <li>
          <a href="{{url_for('login')}}">Login</a>
        </li>
          {% else %}
        <li>
          <a href="{{ url_for('user', username=current_user.username) }}">My Profile</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="{{ url_for('logout')}}">Logout</a>
        </li>
          {% endif %}
     </ul>
  </div-->

    <hr>
    {% with messages = get_flashed_messages() %}

      {% if messages %}
        <ul>
        {% for message in messages %}
        <li>
          {{message}}
        </li>
        {% endfor %}
        </ul>
      {% endif %}

    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
