{% extends "base.html" %}

{% block content %}
<h1> Search for a Registered User </h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    <br>
    <h2>{{ form.usersrch.label }}</h2>
    <br>
    {{ form.usersrch(size=50) }}
    <br>
    {% for error in form.usersrch.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
<h5><a href="{{url_for('showboard', boardid = boardid)}}"> --Go back to your Board</a></h5>
<br>
{% for user in users %}
<h3>{{ user[1] }}</h3>
<h4>See Profile:<a target="_blank" href="{{url_for('user',username=user[2])}}">{{user[2]}}</a></h4>
<h4>Add User:<a href="{{url_for('adduser',boardid=boardid,userid=user[0])}}">{{user[2]}}</a></h4>

{% endfor %}
{% endblock %}
