{% extends "base.html" %}

{% block content %}
<br>
<h2> Card: {{ card.name }}</h2>
<br>
<h4><a href="{{url_for('showlist', boardid = board.id, listid = list.id)}}"> --Go back to your Cards</a></h4>
<hr>
<h3><strong><u>Priority: </u><strong></h3><br><h4>{{card.priority}}</h4>
<hr>
<h3><u><strong>Description:</strong></u></h3><br><h4>{{card.desc}}</h4>
<hr>
<h3><u><strong>Start Date:</strong></u></h3><h4>{{card.timestart}}</h4>
<hr>
<h3><u><strong>Deadline:</strong></u></h3><h4>{{card.deadline}}</h4>
<hr>
{% endblock %}
