{% extends "base.html" %}

{% block content %}
<br>
<h1> List: {{ list.title }}</h1>
<br>
<h5><a href="{{url_for('showboard', boardname = board.name)}}"> --Go back to your Lists</a></h5>
<hr>
{% for card in list.cards %}
<p>
<h3><a href="{{ url_for('showcard', boardname=board.name , listname=list.title, cardname = card.name) }}"> {{ card.name }}</a><br>
  <h4>Deadline: {{card.deadline}}</h4>
  <h5><a href="{{url_for('deletecard', boardname=board.name, listname=list.title, cardname=card.name) }}"> Delete Card </a></h5>
</h3>
</p>
<hr>
{% endfor %}
<h5><a href="{{url_for('newcard', boardname = board.name , listname = list.title)}}"> Click here to create a new card</a></h5>
<hr>
{% endblock %}
