{% extends "base.html" %}

{% block content %}
<div class="flex-container">
  <div class="flex-row-item-img">
    <img class="profile-pic" src= "{{ user.avatar(128) }}">
  </div>
  <div class="flex-row-item-txt">
    <h1>User: {{ user.username }}</h1>
  </div>
</div>
  <br>
{% if user.about_me %}<p><h3>{{ user.about_me }}</h3></p>{% endif %}
{% if user.last_seen %}<p>Last seen on:{{ user.last_seen }}</p>{%endif%}
<br>
{% if user == current_user %}
<p><a href="{{ url_for('edit_profile')}}"> Edit your profile</a></p>
{% endif %}
{% endblock %}
