html{
  margin:0;
  padding:0;
}
body{
  margin: 0;
 padding: 0;
 width:100vw;
 height:auto;
 background-image:url('../img/bg.jpg');
 background-size: cover;
}
.content{
padding-left: 3em;
}

.flex-container{
  display:flex;
  align-items: center;
}

.flex-row-item-img{
  align-content: center;
  padding : 1em;
  margin: 1em;
  flex:1;
}

.flex-row-item-txt{
  align-content: center;
  padding : 1em;
  margin: 1em;
  flex:3;
}

br{
  line-height: 1em;
}

#alertbar{
  color:rgb(150,150,150);
  margin-bottom: 1em;
  background-color: rgb(50,50,50);
  margin-right: 5em;
}
